In [1]:
import json
import pandas as pd

# Open and load our css json file into a dataframe
with open('css-scraper-results.json') as f:
    data_css = json.load(f)
df_css = pd.DataFrame(data_css)

# Clean and view
df_css.rename(columns={"text": "Quote", "author": "Author"}, inplace=True)
df_css['Quote'] = df_css['Quote'].str.replace('[^\x00-\x7F]','')
df_css['tags'] = [','.join(map(str, l)) for l in df_css['tags']]
df_css

,Quote,Author,tags
0,The world as we have created it is a process o...,Albert Einstein,"change,deep-thoughts,thinking,world"
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,"abilities,choices"
2,There are only two ways to live your life. One...,Albert Einstein,"inspirational,life,live,miracle,miracles"
3,"The person, be it gentleman or lady, who has n...",Jane Austen,"aliteracy,books,classic,humor"
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,"be-yourself,inspirational"
...,...,...,...
95,You never really understand a person until you...,Harper Lee,better-life-empathy
96,You have to write the book that wants to be wr...,Madeleine L'Engle,"books,children,difficult,grown-ups,write,write..."
97,Never tell the truth to people who are not wor...,Mark Twain,truth
98,"A person's a person, no matter how small.",Dr. Seuss,inspirational
99,... a mind needs books as a sword needs a whet...,George R.R. Martin,"books,mind"

In [2]:
# Use sqlalchemy to create a sqlite database from the dataframe
from sqlalchemy import create_engine

engine = create_engine('sqlite:///css.db', echo=True)
sqlite_connection = engine.connect()
sqlite_table = "quotes"
df_css.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-08-15 20:32:29,979 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-08-15 20:32:29,979 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:29,980 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-08-15 20:32:29,980 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:29,983 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("quotes")
2022-08-15 20:32:29,984 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:29,985 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("quotes")
2022-08-15 20:32:29,985 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:29,987 INFO sqlalchemy.engine.base.Engine
CREATE TABLE quotes (
	"index" BIGINT,
	"Quote" TEXT,
	"Author" TEXT,
	tags TEXT
)


2022-08-15 20:32:29,987 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:29,989 INFO sqlalchemy.engine.base.Engine COMMIT
2022-08-15 20:32:29,990 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_quotes_index ON quotes ("index")
2022-08-15 20:32:29,990 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:29,992 INFO sqlalchemy.engine.base.Engine COMMIT
2022-08-15 20:32:29,994 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-08-15 20:32:29,995 INFO sqlalchemy.engine.base.Engine INSERT INTO quotes ("index", "Quote", "Author", tags) VALUES (?, ?, ?, ?)
2022-08-15 20:32:29,996 INFO sqlalchemy.engine.base.Engine ((0, 'The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.', 'Albert Einstein', 'change,deep-thoughts,thinking,world'), (1, 'It is our choices, Harry, that show what we truly are, far more than our abilities.', 'J.K. Rowling', 'abilities,choices'), (2, 'There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.', 'Albert Einstein', 'inspirational,life,live,miracle,miracles'), (3, 'The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.', 'Jane Austen', 'aliteracy,books,classic,humor'), (4, "Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.", 'Marilyn Monroe', 'be-yourself,inspirational'), (5, 'Try not to become a man of success. Rather become a man of value.', 'Albert Einstein', 'adulthood,success,value'), (6, 'It is better to be hated for what you are than to be loved for what you are not.', 'André Gide', 'life,love'), (7, "I have not failed. I've just found 10,000 ways that won't work.", 'Thomas A. Edison', 'edison,failure,inspirational,paraphrased')  ... displaying 10 of 100 total bound parameter sets ...  (98, "A person's a person, no matter how small.", 'Dr. Seuss', 'inspirational'), (99, '... a mind needs books as a sword needs a whetstone, if it is to keep its edge.', 'George R.R. Martin', 'books,mind'))
2022-08-15 20:32:29,999 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
# Open and load our css json file into a dataframe
with open('xpath-scraper-results.json') as f:
    data_xpath = json.load(f)
df_xpath = pd.DataFrame(data_xpath)


# Clean and view
df_xpath.rename(columns={"text": "Quote", "author": "Author"}, inplace=True)
df_xpath['Quote'] = df_xpath['Quote'].str.replace('[^\x00-\x7F]','')
df_xpath['tags'] = [','.join(map(str, l)) for l in df_xpath['tags']]
df_xpath

,Quote,Author,tags
0,The world as we have created it is a process o...,Albert Einstein,"change,deep-thoughts,thinking,world"
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,"abilities,choices"
2,There are only two ways to live your life. One...,Albert Einstein,"inspirational,life,live,miracle,miracles"
3,"The person, be it gentleman or lady, who has n...",Jane Austen,"aliteracy,books,classic,humor"
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,"be-yourself,inspirational"
...,...,...,...
95,You never really understand a person until you...,Harper Lee,better-life-empathy
96,You have to write the book that wants to be wr...,Madeleine L'Engle,"books,children,difficult,grown-ups,write,write..."
97,Never tell the truth to people who are not wor...,Mark Twain,truth
98,"A person's a person, no matter how small.",Dr. Seuss,inspirational
99,... a mind needs books as a sword needs a whet...,George R.R. Martin,"books,mind"

In [4]:
# Use sqlalchemy to create a sqlite database from the dataframe
engine = create_engine('sqlite:///xpath.db', echo=True)
sqlite_connection = engine.connect()
sqlite_table = "quotes"
df_css.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-08-15 20:32:30,036 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-08-15 20:32:30,038 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:30,040 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-08-15 20:32:30,041 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:30,043 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("quotes")
2022-08-15 20:32:30,044 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:30,045 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("quotes")
2022-08-15 20:32:30,045 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:30,048 INFO sqlalchemy.engine.base.Engine
CREATE TABLE quotes (
	"index" BIGINT,
	"Quote" TEXT,
	"Author" TEXT,
	tags TEXT
)


2022-08-15 20:32:30,049 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:30,052 INFO sqlalchemy.engine.base.Engine COMMIT
2022-08-15 20:32:30,053 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_quotes_index ON quotes ("index")
2022-08-15 20:32:30,054 INFO sqlalchemy.engine.base.Engine ()
2022-08-15 20:32:30,056 INFO sqlalchemy.engine.base.Engine COMMIT
2022-08-15 20:32:30,058 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-08-15 20:32:30,061 INFO sqlalchemy.engine.base.Engine INSERT INTO quotes ("index", "Quote", "Author", tags) VALUES (?, ?, ?, ?)
2022-08-15 20:32:30,062 INFO sqlalchemy.engine.base.Engine ((0, 'The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.', 'Albert Einstein', 'change,deep-thoughts,thinking,world'), (1, 'It is our choices, Harry, that show what we truly are, far more than our abilities.', 'J.K. Rowling', 'abilities,choices'), (2, 'There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.', 'Albert Einstein', 'inspirational,life,live,miracle,miracles'), (3, 'The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.', 'Jane Austen', 'aliteracy,books,classic,humor'), (4, "Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.", 'Marilyn Monroe', 'be-yourself,inspirational'), (5, 'Try not to become a man of success. Rather become a man of value.', 'Albert Einstein', 'adulthood,success,value'), (6, 'It is better to be hated for what you are than to be loved for what you are not.', 'André Gide', 'life,love'), (7, "I have not failed. I've just found 10,000 ways that won't work.", 'Thomas A. Edison', 'edison,failure,inspirational,paraphrased')  ... displaying 10 of 100 total bound parameter sets ...  (98, "A person's a person, no matter how small.", 'Dr. Seuss', 'inspirational'), (99, '... a mind needs books as a sword needs a whetstone, if it is to keep its edge.', 'George R.R. Martin', 'books,mind'))
2022-08-15 20:32:30,066 INFO sqlalchemy.engine.base.Engine COMMIT